.content {
  position: absolute;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ion-icon {
    color: #efefef;
  }
  &--button{
    height: 2.5rem;
    width: 2.5rem;
    background: #323232;
    display: flex;
    justify-content: center;
    border-radius: 30px;
  }
}
