<div class="content">
  <app-header></app-header>
  <div class="content--data">
    <div class="content--data--banner">
      <img src="assets/images/bg.jpg">
    </div>
    <div class="content--data--image">
      <img src="assets/images/profile-default.jpg">
    </div>
    <div class="content--data--infos">
      <h1>Peter Parker</h1>
      <div class="content--data--infos--container">
        <span><img src="assets/images/hardware-chip-outline.svg">3 Alimentadores conectados</span>
        <span><img src="assets/images/paw-outline.svg">2 Pets</span>
        <span><img src="assets/images/calendar-outline.svg">Registrado desde 2018</span>
      </div>
    </div>
    <div class="line"></div>
    <h2 style="width: 100%; margin-bottom: 1rem;">Pets</h2>
    <div class="content--data--listPets">
      <div class="content--data--listPets--pet">
        <img src="assets/images/petDefault.jpg">
        <p>Julio</p>
      </div>
      <div class="content--data--listPets--pet">
        <img src="assets/images/zaya.jpg">
        <h3>Zaya</h3>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
